<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Тестовий меіл</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }
        p {
            color: #555;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Шановний {{ to }},</h1>
    <p>{{ text }} </p>
    <p><strong>Книга:</strong> {{ book }}</p>
    <p><strong>Бронювання:</strong> {{ booking }}</p>
</div>
</body>
</html>